body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #0074cc;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    color: white;
}

.signup-button a {
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    margin-right: 100px;
}
nav a {
    text-decoration: none;
    color: black;
}

.expense-form {
    margin-top: 20px;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.summary {
    margin-top: 20px;
}





.delete-entry {
    background-color: #ff4f4f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}